body{background-color: whitesmoke; text-align: left;
height: 100%; margin:2;} 


.navbar-custom{
  color: #ffffff;
  background-color: transparent
}

.jumbotron{
    display: flex;
    align-items: center;
    background-image: url('https://apod.nasa.gov/apod/image/1408/shuttleapproaching_nasa_6048.jpg');
    background-size: cover;

    height: 500px;
}
.jumbotron h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
    display: inline;
    
}
.footer {
  background: #061D25;
  padding: 10px 0;
}
.footer h4{
    text-align: center;
    color: floralwhite;
}
.footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color: white;
}
